<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <div align="center">
        <h2>Add User</h2>
        <form method="post" action="/crud/insertRecord" enctype="multipart/form-data">
            <table border="1" width="600">
                <tr>
                    <td>Name :- </td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Email :- </td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Password :- </td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td>Gender :- </td>
                    <td>
                        <input type="radio" name="gender" value="male">Male
                        <input type="radio" name="gender" value="female">Female
                    </td>
                </tr>
                <tr>
                    <td>Hobby :- </td>
                    <td>
                        <input type="checkbox" name="hobby" value="cricket">Cricket
                        <input type="checkbox" name="hobby" value="music">Music
                        <input type="checkbox" name="hobby" value="travelling">Travelling
                    </td>
                </tr>
                <tr>
                    <td>City :- </td>
                    <td>
                        <select name="city">
                            <option>---select city---</option>
                            <% const city=["surat","vadodara","ahemdabad","rajkot"] 
                                city.map((c)=>{ %>
                                    <option value="<%= c %>"><%= c %></option>
                                <% }) %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>File Upload</td>
                    <td>
                        <input type="file" name="image">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
        <a href="/crud">View</a>
    </div>
</body>

</html>